body {  
    margin: 0;  
    padding: 0;  
    background-color: #000;  
    font-family: 'Arial';  
}  

h2{  
    text-align: center;  
    color: white;  
    padding: 20px;  
}  

label{  
    color: white;  
    font-size: 17px;  
}  
  
span{  
    color: white;  
    font-size: 17px;  
} 

p {
    color: white;
    font-size: 17px;
    margin-left: 60px;
}

p.block {
    display: block;
}

a {
    color: #00FFFF;
}

ul {
    list-style-type: circle;
    color: #FF00FF;
}

ul li {
    color: white;
    margin-left: 80px;
}

* {
  box-sizing: border-box;
}


/* Header/Blog Title */
.header {
  text-align: center;
  background: black;
}

.header h1 {
  height: 300px;
  text-align: center;
  color: white;
  padding-top: 130;
  font-size: 36px;
  background-image: url("StreetCrop.JPG");
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #00FFFF;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: black;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: black;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #FF00FF;
  margin-top: 20px;
  color: black;
}

/* Responsive layout - when the screen is less than 1600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1600px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
/* gallery; images, hover, descriptions*/
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #FF00FF;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: white;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
