body  
{  
    margin: 0;  
    padding: 0;  
    background-color: #000;  
    font-family: 'Arial';  
}  
textbox{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #2a9fd6; 
        border-radius: 3px ;  
          
}
h1{
    height: 100px;
    text-align: center;
    color: white;
    padding: 60px;
    font-size: 36px;
    background-image: url("KaraBgCroppedCopy.JPG");
}
h2{  
    text-align: center;  
    color: white;  
    padding: 20px;  
}  
label{  
    color: white;  
    font-size: 17px;  
}  
  
span{  
    color: white;  
    font-size: 17px;  
} 
p {
    color: white;
    font-size: 17px;
    margin-left: 60px;
}

a {
    margin-;eft: 60px;
    color: #00FFFF;
}
